<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">

    <util:constant id="in" static-field="java.lang.System.in"/>
    <util:constant id="out" static-field="java.lang.System.out"/>

    <bean id="userDao" class="dao.UserDaoImpl"/>
    <bean id="ioService" class="service.IOServiceImpl">
        <constructor-arg name="inputStream" ref="in"/>
        <constructor-arg name="outputStream" ref="out"/>
    </bean>


    <bean id="userService" class="service.UserServiceImpl">
        <constructor-arg name="userDao" ref="userDao"/>
        <constructor-arg name="ioService" ref="ioService"/>
    </bean>

    <bean id="question" class="utils.Utils">
        <constructor-arg name="sPath" value="questions_with_answers.csv"/>
    </bean>



</beans>
