<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Add book</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<form id="add-form" method="post" action="books-add.html">
    <h1>Book Info:</h1>

    <div class="row">
        <label for="title-input">Title:</label>
        <input id="title-input" name="title" type="text" value=""/>
    </div>

    <div class="row">
        <label for="authors-input">Author:</label>
        <input id="authors-input" name="authors" type="text" value=""/>
    </div>

    <div class="row">
        <label for="genre-input">Genre:</label>
        <input id="genre-input" name="genre" type="text" value=""/>
    </div>
    <div class="row">
        <button id="submit-button" class="button" type="submit">Add book</button>
    </div>
</form>

</body>
<script>
    document.getElementById("submit-button").onclick = function () {
        const bookDto = {
            'title': document.getElementById("title-input").value,
            'authors': document.getElementById("authors-input").value,
            'genre': document.getElementById("genre-input").value
        };

        $.ajax({
            url: '/api/books/add',
            type: 'POST',
            data: JSON.stringify(bookDto),
            dataType: 'json',
            contentType: "application/json"
        }).done(function () {
            window.location.href = '/books';
            return true;
        });
        return false;
    };
</script>
</html>