<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>List of comments</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h1>
    <span id="span-title">All Comments for </span>
</h1>
<table class="comments">
    <thead>
    <tr>
        <th>Nickname</th>
        <th>Comment</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<nav class="menu">
    <ul>
        <li><a href="comments/add">Add</a></li>
        <li><a href="/books">Back</a></li>
    </ul>
</nav>
</body>
<script>
    let book_id = window.location.pathname.split('/')[2];
    $(document).ready(function () {
        $.ajax({
            url: "/api/books/" + book_id
        }).then(function (book) {
            document.getElementById("span-title").append(book.title);
        });

        $(function () {
            $.get('/api/books/' + book_id + '/comments').done(function (comments) {
                comments.forEach(function (comment) {
                    $('tbody').append(`
                    <tr>
                        <td>${comment.nickname}</td>
                        <td>${comment.message}</td>
                    </tr>
              `);
                })
            });
        });
    });
</script>
</html>