<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>

<body>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>

<h1>Books:</h1>

<table class="books">
    <thead>
    <tr>
        <th>Title</th>
        <th>Authors</th>
        <th>Genre</th>
        <th>All comments</th>
        <th>Edit book</th>
        <th>Delete book</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    $(function () {
        $.get('/flux/books').done(function (books) {
            books.forEach(function (book) {
                $('tbody').append(`
                    <tr>
                        <td>${book.title}</td>
                        <td>${book.authors}</td>
                        <td>${book.genre}</td>
                        <td><a href="/books/${book.id}/comments">comments</a></td>
                        <td><a href="/books/edit?id=${book.id}">Edit</a></td>
                        <td><a href="/books/delete?id=${book.id}">Delete</a></td>
                    </tr>
                `)
            });
        })
    });
</script>

<nav class="menu">
    <ul>
        <li><a href="/books/add">New book</a></li>
    </ul>
</nav>

</body>
</html>