<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/buttons.css"/>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<form id="edit-form" action="/books">
    <h1>Book Info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value="1"/>
    </div>

    <div class="row">
        <label for="title-input">Title:</label>
        <input id="title-input" name="title" type="text" value="Tanya Grotter"/>
    </div>

    <div class="row">
        <label for="authors-input">Author:</label>
        <input id="authors-input" name="authors" type="text" value="Tanya Grotter"/>
    </div>

    <div class="row">
        <label for="genre-input">Genre:</label>
        <input id="genre-input" class="genre-input" name="genre" type="text" value="Tanya Grotter"/>
    </div>
    <div class="row">
        <button id="submit-button" class="button blue" type="submit">Save</button>
    </div>
</form>
</body>
<script>
    let searchParams = new URLSearchParams(window.location.search);
    let book_id = searchParams.get('id');

    $(document).ready(function () {
        $.ajax({
            url: "/flux/books/" + book_id
        }).then(function (book) {
            document.getElementById("id-input").value = book.id;
            document.getElementById("title-input").value = book.title;
            document.getElementById("authors-input").value = book.authors;
            document.getElementById("genre-input").value = book.genre;
        });
    });

    document.getElementById("submit-button").onclick = function () {
        const bookDto = {
            'id': document.getElementById("id-input").value,
            'title': document.getElementById("title-input").value,
            'authors': document.getElementById("authors-input").value,
            'genre': document.getElementById("genre-input").value
        };

        $.ajax({
            url: '/flux/books/' + book_id,
            type: 'PUT',
            data: JSON.stringify(bookDto),
            dataType: 'json',
            contentType: "application/json"
        }).done(function () {
            window.location.href = '/books';
            return true;
        });
        return false;
    };
</script>
</html>